[flake8]
max-line-length = 88
# E203 = conflicts with black
# E501 = we have too many long lines
# W503 = black breaks lines before a binary op which flake does not like, but black does not mind
# E741 = do not use variables called I or O (confusion with one zero)
extend-ignore = E203, E501, W503, E741


