[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
requests = "*"
secretstorage = {markers = "sys_platform == 'linux'", version = ">=3"}

[packages]
pretextbook = {editable = true,path = "."}

[requires]
python_version = "3.8.5"
