[tool.poetry]
name = "pretext"
version = "1.0.5"
description = "A package to author, build, and deploy PreTeXt projects."
readme = "README.md"
homepage = "https://pretextbook.org"
repository = "https://github.com/PreTeXtBook/pretext-cli"
authors = ["Steven Clontz <steven.clontz@gmail.com>", "Oscar Levin <oscar.levin@unco.edu>"]
license = "GPL-3.0-or-later"
include = [
    "pretext/core/pretext.py",
    "pretext/core/resources.zip",
    "pretext/templates/resources/*",
]

[tool.poetry.dependencies]
python = "^3.8.5"
lxml = "^4.8"
requests = "^2"
watchdog = "^2"
GitPython = "^3"
click = "^8"
pdfCropMargins = "~1.0.9"
PyPDF2 = "~2.5"
click-log = "^0.4"
ghp-import = "^2"
single-version = "^1"
pyppeteer = "^1.0.2"

[tool.poetry.scripts]
pretext = 'pretext.cli:main'

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
pytest-console-scripts = "^1.3.1"
pytest-mock = "^3.8.2"

[tool.pytest.ini_options]
script_launch_mode = "subprocess"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
