[tool.poetry]
name = "pretextbook"
packages = [
    { include = "pretext" },
]
version = "0.7.9-alpha.0"
description = "A package to author, build, and deploy PreTeXt projects."
readme = "README.md"
authors = ["PreTeXtBook.org <steven.clontz+PreTeXt@gmail.com>"]
license = "GPL-3.0-or-later"
include = [
    "pretext/core/pretext.py",
    "pretext/static/schema/*", 
    "pretext/static/templates/*", 
    "pretext/static/xsl/**/*"
]

[tool.poetry.dependencies]
python = "^3.8.5"
lxml = "^4.8"
requests = "^2"
watchdog = "^2"
GitPython = "^3"
click = "^8"
pdfCropMargins = "^1.0.8"
click-logging = "^1"
ghp-import = "^2"
single-version = "^1"

[tool.poetry.scripts]
pretext = 'pretext.cli:main'

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
pytest-console-scripts = "^1.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
