{% set links = obj.links %}
{% set toc = obj.tableofcontents %}
<?xml version="1.0" encoding="utf-8"?>

<chapter xml:id="{{ obj.id }}" xml:lang="en-US" xmlns:xi="http://www.w3.org/2001/XInclude">
  {{ obj }}

  {% for section in toc recursive %}
    <xi:include href="{{ section.url }}"/>
  {% endfor %}

</chapter>

