{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Articles by {{ author }}{% endblock %}


{% block content %}
    {% block content_title %}
        <h2>Articles by {{ author }}</h2>
    {% endblock %}
    {% if articles_page.object_list %}
        {% for article in articles_page.object_list %}
            {% include 'article-block.html' %}
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}
{% endblock %}
