{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ category }} category{% endblock %}

{% block content_title %}
    <h2>Articles in the {{ category }} category</h2>
{% endblock %}

{% block content %}
    {% if articles_page.object_list %}
        {% block content_title %}
            <h2>News and updates</h2>
        {% endblock %}
        {% for article in articles_page.object_list %}
            {% include 'article-block.html' %}
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}
{% endblock}
